<!DOCTYPE html>
<html>
  <head>
    <title>Chat Example</title>
    <script type="module" src="https://cdn.skypack.dev/@hotwired/turbo" crossorigin></script>
    <script type="module">
      import { Controller, Application } from "https://unpkg.com/@hotwired/stimulus/dist/stimulus.js"

      class SubmitController extends Controller {
        static targets = [ "text", "lastMessageId" ]
        afterSubmit() {
          this.textTarget.value = ""
        }

        beforeSubmit() {
          const messages = Array.from(document.querySelectorAll(".message"))
          this.lastMessageIdTarget.value = messages.length > 0 ? messages.slice(-1)[0].id : ""
        }
      }

      const application = Application.start()
      application.register("submit", SubmitController)
    </script>
  </head>
  <body>
    <div id="chat">
      <div id="messages">
        {{ range .Messages }}
          <div id="{{ .ID }}" class="message">
            <span class="text">{{ .Body }}</span>
          </div>
        {{ end }}
      </div>
      <form action="/messages" method="post"
        data-turbo-frame="message-frame"
        data-controller="submit"
        data-action="
          turbo:submit-start@document->submit#beforeSubmit
          turbo:submit-end@document->submit#afterSubmit
        ">
        <input type="hidden" name="lastMessageId" data-submit-target="lastMessageId"/>
        <input type="text" name="message" data-submit-target="text"/>
        <input type="submit" value="Send" />
      </form>
    </div>
  </body>
</html>
