<!DOCTYPE html>
<html>
  <head>
    <title>Chat Example</title>
    <script type="module" src="https://cdn.skypack.dev/@hotwired/turbo" crossorigin></script>
  </head>
  <body>
    <div id="chat">
      <div id="messages">
        {{ range .Messages }}
          <div class="message">
            <span class="text">{{ . }}</span>
          </div>
        {{ end }}
      </div>
      <form action="/messages" method="post">
        <input type="text" name="message" id="message" />
        <input type="submit" value="Send" />
      </form>
    </div>
  </body>
</html>
